@import url("__logo/header__logo.css");
@import url("__lang-links/header__lang-links.css");
@import url("__lang-link/header__lang-link.css");
@import url("__lang-link/_decoration/header__lang-link_decoration_active.css");
.header{
    font-family: "Inter", Arial, sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-left: 48px;
    padding-right: 48px;
    padding-top: 28px;

}
@media screen and (max-width: 768px){
    .header{
        padding-left: 24px;
        padding-right: 24px;
    }
}
@media screen and (max-width: 320px){
    .header{
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 16px;
    }
}
