.footer__link{
    font-family: Inter;
    font-weight: normal;
    font-size: 16px;
    line-height: 112%;
    color: white;
    padding-right: 18px;
    text-decoration: none;
}
.footer__link:hover{
    opacity: 0.3;
    transition: linear .3s;
}
.footer__link:last-of-type{
    padding-right: 0;
}
.footer__link:first-of-type{
    margin-top: 0;
}
@media screen and (max-width: 680px){  
    .footer__link{
    margin-top: 32px;
}
} 