.place__website-url{
    font-family: "Inter", Arial, sans-serif;
    font-size: 12px;
    line-height: 100%;
    color: white;
    margin: 0;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    
}
@media screen and (max-width: 480px){ /* повышаю читаемость */
    .place__website-url{
        padding-top: 16px;
    }
}