.place__links-wrapper{
    display: grid;
    align-self: end;
    justify-self: start;
    margin: 0;
}

@media screen and (max-width: 320px){
    .place__links-wrapper{
        display: none;
    }
}