@Import url("__background/cover__background.css");
@import url("__overlay/cover__overlay.css");
@import url("__subtitle/cover__subtitle.css");
@import url("__title/cover__title.css");
@import url("__link/cover__link.css");
.cover{
    margin-left: 48px;
    margin-top: 92px;
    margin-right: 48px;
    max-width: 100%;
    object-fit: contain;
    box-sizing: border-box;
}

@media screen and (max-width: 1024px){  
    .cover{
        margin-left: 0;
        margin-right: 0;
    }
} 
@media screen and (max-width: 768px){  
  .cover{
        margin-top: 88px;
  }
}
@media screen and (max-width: 768px){  
  .cover{
        margin-top: 64px;
  }
}
