.place__link{
    font-family: "Inter", Arial, sans-serif;
    font-size: 18px;
    line-height: 122%;
    text-decoration-line: underline;
    color: white;
    padding-top: 12px;
    margin: 0;
}
.place__link:hover{
    opacity: 0.3;
    transition: linear .3s; 
}
