.lead__caption{
    font-size: 10px;
    line-height: 140%;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: white;
    padding-top: 8px;
    margin: 0;
    max-width: 159px;
}

@media screen and (max-width: 768px){
    .lead__caption{
        padding-left: 24px;
       
    }
}
@media screen and (max-width: 320px){
    .lead__caption{
        padding-left: 16px;
           
    }
}